*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0px;
}

button{
    border: none;
}

.gallery{
    width: 1128px;
    margin: 24px;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}